/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 
.mat-mdc-tab-header {
    padding: 1rem;
    margin-top: 2rem;
    margin: 1rem;
}
.delete-container {
    .mdc-dialog-content {
        font-weight: 500 !important;
        color: black !important;
        background-color: aqua !important;
    }
}
