.container {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
}

.parent-node {
  background-color: rgb(253, 211, 149);
  padding: 1rem;
  margin: 2rem;
  border-radius: 8px;
  width: 20%;
  text-align: center;
}

.child-nodes {
  display: flex;
    align-items: center;
    margin: 4rem;
    padding: 1rem;
    gap: 1rem;
}

.child-node {
  background-color: rgb(253, 211, 149);
  padding: 1rem 4rem;
  margin: 1rem 10rem;
  border-radius: 8px;
}

.grandchild-nodes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grandchild-nodes-1 {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}
.grandchild-node {
  background-color: rgb(253, 211, 149);
  padding: 1rem;
  margin: 3rem 0.5rem;
  border-radius: 8px;
}

.active {
  background-color: #0ff317;
}