<h1>Welcome to Change Detection Tree Diagram Example!</h1>

<div class="container">
  <div class="parent-node" (click)="toggleNode('parent')" [ngClass]="{ 'active': isActive('parent') }">
    <span>Parent Node</span>
  </div>

  <div class="child-nodes">
    <div>
      <span class="child-node" (click)="toggleNode('child1')" [ngClass]="{ 'active': isChildActive('child1') || isActive('parent')}">Child Node 1</span>
    </div>
    <div>
      <span class="child-node" (click)="toggleNode('child2')" [ngClass]="{ 'active': isChildActive('child2') || isActive('parent')}">Child Node 2</span>
    </div>
  </div>

  <div class="grandchild-nodes">
    <div class="grandchild-nodes-1">
      <div class="grandchild-node" [ngClass]="{ 'active': isChildActive('child1') || isActive('parent')}">
        <span>Grandchild Node 1.1</span>
      </div>
      <div class="grandchild-node" [ngClass]="{ 'active': isChildActive('child1') || isActive('parent')}">
        <span>Grandchild Node 1.2</span>
      </div>
      <div class="grandchild-node" [ngClass]="{ 'active': isChildActive('child1') || isActive('parent')}">
        <span>Grandchild Node 1.3</span>
      </div>

      <div class="grandchild-node" [ngClass]="{ 'active': isChildActive('child2') || isActive('parent')}">
        <span>Grandchild Node 2.1</span>
      </div>
      <div class="grandchild-node" [ngClass]="{ 'active': isChildActive('child2') || isActive('parent')}">
        <span>Grandchild Node 2.2</span>
      </div>
      <div class="grandchild-node" [ngClass]="{ 'active': isChildActive('child2') || isActive('parent')}">
        <span>Grandchild Node 2.3</span>
      </div> 
    </div>
  </div>
</div>