<div class="container">
    <h2>{{data.operation}} User</h2>
<form [formGroup]="userForm" class="user-form" (ngSubmit)="submit()">
  <!-- <mat-form-field class="form-field">
    <input matInput formControlName="id" placeholder="Id" name="id" required>
  </mat-form-field> -->

  <mat-form-field class="form-field">
    <input matInput formControlName="name" placeholder="Name" name="name" required>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput formControlName="email" placeholder="Email" name="email" required>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput formControlName="number" placeholder="Number" name="number" required>
  </mat-form-field>

  <div class="btn-wrapper">
    <button mat-raised-button color="primary" class="submit-button" (click)="Cancel()">Cancel</button>
    <button mat-raised-button color="primary" class="submit-button">{{data.operation}}</button>
  </div>
</form>
</div>
