.container {
    margin: 1rem;
    padding: 1rem;
}
h2{ 
    text-align: center;
}
.user-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .submit-button {
    padding: 1rem 1.5rem;
    border-radius: 4px;
    margin: 1rem;
    margin:auto;
  }
  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }