.tabs-header {
    padding: 1rem;
    margin: 1rem;
    background-color: aqua;
}
.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem;
    margin:1rem;
}
span {
    font-size: 1rem;
    font-weight: 500;
    padding:1rem;
}
button {
    padding: 1em;
    background-color: rgb(255, 68, 68);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
}
