.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  mat-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff;;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  mat-form-field {
   width:100%;
  }

  .eye-button {
    border: none;
    background-color: transparent;
  }

  .btn {
    background-color: #5e1356;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid white;

    &:hover {
        background-color: #641264;
      }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  h2 {
    color: #9a2d90;
    margin-bottom: 20px;
    font-size: 2em;
    padding-bottom: 1rem;
  }

 label {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
 }
  
  input {
    color: #555;

    ::-webkit-input-placeholder {
        color: #999;
      }

      :-moz-placeholder {
        color: #999;
      }

      ::-moz-placeholder {
        color: #999;
      }

      :-ms-input-placeholder {
        color: #999;
      }
  }
  
  .language-select {
    padding: 0.5rem;
    font-weight: 500;
    background-color: #f1efef;
    border-radius: 4px;
    width: 150px;
    margin-top: 3rem;
  }