h2 {
    text-align: center;
    padding:0;
    margin:0;
}
.btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0.5rem;
    border-radius: 8px;
}
mat-dialog-content {
    font-weight: 500 !important;
    color: black !important;
    padding: 0.5rem !important;
    text-align: center;
}
