<div class="delete-container">
    <h2 mat-dialog-title>Delete User?</h2>
    <mat-dialog-content>
     Are you sure you want to delete?
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button class="btn" mat-button mat-dialog-close color="primary" (click)="closeDialog('no')">No</button>
      <button class="btn" mat-button [mat-dialog-close]="true" color="warn" (click)="closeDialog('yes')">Yes</button>
    </mat-dialog-actions>
</div>

