.add-user-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
  }
  
  .add-user-button button {
    padding: 0.5rem 1rem;
    background-color: #c5c5c5;
    border-radius: 4px;
    margin-right: 16px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
  }

.mat-table {
    width: 100%;
  }

  mat-header-row {
    background-color: #e4e4e4;
    color: #fff;
  }
  
  .mat-header-cell {
    font-weight: bold;
    background-color: #8e24aa;
    color: #fff;
  }
  
  .mat-cell {
    border-bottom: 1px solid #e1bee7;
  }
  
  .mat-row:nth-child(even) {
    background-color: #ba68c8;
  }
  
  .mat-row:hover {
    background-color: #ce93d8;
  }
  h1 {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
.btn {
  padding:0.5rem 1rem;
  border-radius: 4px;

}